.input-container
{
    display:flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.input-fields
{   
    background-color: whitesmoke;
    width:50rem;
    height:30rem;
    display:flex;
    gap:2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}