.first-column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-cloumn
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 
